* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}

:root{ /* NO tengo que poner esto, el browser es default */
    font-family:'Poppins', sans-serif;
    background-color: black;
    color:white;
    cursor:crosshair;
}

html, body{
    min-height:100%;
}

#root{
    height:100%;
    display:flex;
    flex-direction: column;
    
}
header{
    font-size:0.9rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding:2rem 0;
    gap:20px;
}

header ul{
    list-style: none;
    position:fixed;
    bottom: 0;
    display:flex;
    background-color: black;
    border:1px solid #242424;
    border-radius:50px;
    gap:40px;
    padding:1.2rem;
}

header ul a {
    color:white;
    font-weight:400;
}

header ul li:nth-child(2) a{
    padding:0.8rem;
    border-radius:50px;
    background:linear-gradient(90deg, #2F82FF 0%, #40EEF9 80.67%);
    box-shadow: 0px 0px 15px #2F82FF;
}

.header__logo{
    color:white;
    font-size:0.7rem;
    font-weight: 100;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0px;
}

.header__logo svg{
    height:25px;
}

main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:5rem;
    flex-grow:1;
}

main h2{
    font-size:1.4rem;
    font-weight:500;
    text-align: center;
    margin-top:2rem;
    padding:1rem;
}

.booking__form{
    font-size:0.7rem;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5%;
    align-items: center;
    width: 80%;
    gap:15px;
    padding:1.5rem;
    border-style:solid;
    border-width: 2px;
    border-color:#1f1f1f;
    border-radius:50px;
}

.booking__form button{
    cursor:pointer;
    padding:1.5rem;
    width:70px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-style:none;
    border-radius:100%;
    background-color:#2F82FF;
    box-shadow: 0px 15px 20px rgba(47, 130, 255, 0.4);
}

.booking__form button svg{
    height:20px;
    fill: white;
}

.input__container{
    font-weight: 500;
    display:flex;
    flex-direction: column;
}

.input__container input{
    color:rgb(177, 177, 177);
    font-family: "Poppins", sans-serif;
    font-size:0.8rem;
    border-style: none;
    border-radius:10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    padding:0.7rem;
    background-color: #1a1a1a;
}

.input__container input:focus{
    outline:none;
    border:1px solid #2F82FF;
}

.input__container input::placeholder{
    font-size:0.9em;
    font-weight:400;
    color:#969696;
}
