* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}

:root{
    font-size:16px;
    font-family:'Poppins', sans-serif;
    background-color: black;
    color:white;
}

html, body{
    height:100%;
}

#root{
    height:100%;
    display:flex;
    flex-direction: column;
    
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:2.5rem 4rem;
}

header ul{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

header ul a {
    color:white;
    font-weight: 400;
}

header ul li:nth-child(2) a{
    padding:1rem 1.5rem;
    border-radius:50px;
    background:linear-gradient(90deg, #2F82FF 0%, #40EEF9 80.67%);
    box-shadow: 0px 0px 15px #2F82FF;
}

.header__logo{
    color:white;
    font-size:0.7rem;
    font-weight: 100;
    display:flex;
    align-items: center;
    gap:5px;
}

.header__logo svg{
    height:25px;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.booking__form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding:2rem;
    background-color: #F6F6F9;
    border-radius:50px;
    gap:15px;
    font-size:0.8rem;
}

.input__container{
    color:black;
    display:flex;
    flex-direction: column;
    font-weight: 500;
}

.input__container input{
    font-family: "Poppins", sans-serif;
    border-style: none;
    border-radius:15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    padding:0.7em;
}

.input__container input::placeholder{
    font-size:0.9em;
    font-weight:400;
    color:#969696;
}

.departure__and__destination{
    max-width:250px;
}

.dates{
    max-width:150px;         /* ESTO TENDRIA IR CON GRID, PARA EVITAR LOS MAX WIDTH */
}

.passengers__and__class{
    max-width:200px;
}