* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
}

:root{
    font-family:'Poppins', sans-serif;
    background-color: black;
    color:white;
}

#root{
    display:flex;
    flex-direction: column;
    
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
}


.placeholder{
    flex:1;
    padding:1rem;
}

.arrow svg{
    margin:1.2rem;
    height: 15px;
    fill:white;
}

.logo-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2.5rem 0;
}

.logo-container h1{
    font-size:1.2rem;
    font-weight:500;
    font-family:'Playfair Display';
}

.logo-container svg{
    height:25px;
}

main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.main-landing h2{
    font-size:1.4rem;
    font-weight:400;
    text-align: center;
    margin-top:4rem;
    padding:1.5rem;
}

.buttons-section{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    margin-top:6rem;
}

.buttons-section button{
    --deg-animation: 195deg;
    cursor: pointer;
    font-family:'Poppins';
    font-weight:400;
    font-size:0.8rem;
    width:130px;
    padding:0.7rem 0;
    border-radius: 50px;
    color: white;
    border: 1px solid transparent;
    background-image: linear-gradient(black, black),
                linear-gradient(195deg, #00fff2 ,#2F82FF , black, black);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


.buttons-section a{
    position:relative;
    font-size:0.8rem;
    text-align: center;
    width:130px;
    padding:0.7rem 0;
    border-radius:50px;
    color:white;
    background:linear-gradient(90deg, #2F82FF 0%, #40D7F9 80.67%);
    box-shadow: 0px 0px 15px #2F82FF;
}

.buttons-section a::after {
    content: '';
    position:absolute;
    width: 8px;
    height:8px;
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    border-color: transparent white white transparent;
    bottom: -20px;
    right:50%;
    transform:rotate(45deg);
  }


.preview-section{
    position:relative;
    display:flex;
    gap: 25px;
    margin-top:4rem;
}

.preview-section h5{
    position:absolute;
    top:-20px;
    font-size:0.6rem;
    font-weight: 300;
}

.img-container img{
    border-radius: 5px;
    height:90px;
    width:140px;
}


.img-title{
    font-size:0.6rem;
    font-weight:300;
    background-color: rgba(0, 0, 0, 0.7);
}

footer{
    font-size:1rem;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:6rem;
    padding-bottom:4rem;
}



/* Booking Forms */

.main-booking h2{
    font-size:1rem;
    font-weight:400;
    text-align: center;
    padding:1rem;
}

.credentials-form{
    position: relative;
    margin-top:6rem;
    border: 1px solid transparent;
    border-radius:20px;
    background-image: linear-gradient(black, black),
                linear-gradient(195deg, #00fff2 ,#2F82FF , black, black);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


.flight-type-buttons{
    width:100%;
    position:absolute;
    top:-40px;
    display:flex;
    justify-content: space-around;
}

.flight-type-buttons button{
    cursor:pointer;
    font-family: 'Poppins';
    color:white;
    border: none;
    background: none;
}

.destination-inputs-container{
    display:flex;
    flex-direction: column;
    padding:1.5rem;
    gap:2rem;
}

.destination-input{
    font-size:0.7rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}


.destination-input input{
    font-family:'Poppins';
    font-size:0.7rem;
    font-weight:300;
    height: 45px;
    width:280px;
    background-color:#171717;
    color:#676767;
    border:none;
    border-radius:10px;
    text-indent: 2ch;
}

.dates-container{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    padding-top:0;
    gap:5px;
}

.dates-container span{
    font-size:0.7rem;
    font-weight: 400;
}

.dates-input-container{
    display:flex;
    font-size:0.6rem;
    gap:40px;
}

.date-departure,
.date-return{
    display:flex;
    flex-direction: column;
    gap:5px;
    color: #676767;
}


.date-departure input,
.date-return input{
    font-family: 'Poppins';
    font-size:0.7rem;
    font-weight: 300;
    height:45px;
    width:120px;
    border:none;
    border-radius:10px;
    color: #676767;
    background-color:#171717;
    text-indent:2ch;
}


.class-container{
    padding:1.5rem;
    padding-top:0;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.class-container span{
    font-size:0.7rem;
}